.operator-item-header{
    background-color: #f6f6f6;
    font-size: 14px;
    padding: 12px;
}

.operator-item-header .icon{
    float: left;
}

.operator-item-header .library{
    float: left;
    margin-left: 8px;
}

