.bug-test-record-detail {
    table-layout: fixed !important;
    word-break: break-all;
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid #f0f0f0;
    border-spacing: 2px;
    font-size: 14px;
    line-height: 1.5715;
    color: rgba(0, 0, 0, 0.85);
}

.test-record-detail tr {
    border-bottom: 1px solid #f0f0f0;
}

.test-record-detail th {
    padding: 8px 16px;
    background-color: #fafafa;
    border-right: 1px solid #f0f0f0;
    box-sizing: border-box;
    font-weight: normal;
    text-align: start;
}

.test-record-detail td {
    padding: 8px 16px;
    border-right: none;
    flex: 1 1;
    word-break: break-word;
    overflow-wrap: break-word;
}